MODE=DEV
LOG_LEVEL=INFO
LOG_FILE=activity/logs.log
CHROME_FILE=/usr/bin/google-chrome
TESSERACT_FILE='/usr/bin/tesseract'

REDIS_HOST=redis
REDIS_PORT=6379

CF_TOKEN_EXP_SECONDS=100
CF_GEN_INTERVAL=10

BROWSER_EXT=configs/cookie_extension
BROWSER_PROFILE=configs/profile

PSQL_HOST=localhost
PSQL_PORT=5432
PSQL_DB=db
PSQL_USER=user
PSQL_PASSWORD=psqd
PSQL_URI=postgresql+psycopg2://${PSQL_USER}:${PSQL_PASSWORD}@${PSQL_HOST}:${PSQL_PORT}/${PSQL_DB}
